<div class="container myNavbar">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @User.Identity.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="dropdown-item" asp-area="admin" asp-controller="Setting" asp-action="Index">Admin Panel</a>
                        }
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<style>
    a {
        color: black;
    }

        a:hover {
            color: black;
        }
        /*.myNavbar{
            position:fixed;
        }*/
</style>